@import '@onrewind/ui/lib/onrewind-ui.css';

@tailwind base;
@tailwind components;

@tailwind utilities;

html {
  overflow-x: hidden;
}

:root {
  --secondary: #0062bf;
  --fg-color: rgba(255, 255, 255, 0.9);
  --bg-color: #2b2b2b;
  --highlight-primary: #008aff;
  --gradient: linear-gradient(300deg, #ba4aff, rgba(186, 74, 255, 0) 70%),

  --transition: 250ms ease-out;
  --transition-long: 500ms ease-out;
}

.logo {
  display: grid;
  place-content: center;
}



header, footer {
  height: 100px;

  background: var(--bg-color);
  color: var(--fg-color);

  z-index: 1;
  display: flex;

}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  font-size: 1.5rem;

  align-items: center;
  justify-content: space-around;

  box-shadow: -2px 2px 8px 0px rgb(0 0 0 / 80%);

  border-bottom: 1px solid var(--highlight-primary);
  
}

header ul {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-template-rows: 1fr;
  gap: 0.5rem;
  padding: 0rem 1.5rem;
  list-style-type: none;
}

header ul > li {
  display: grid;
  padding: 0.5rem;
}

header a {
  display: flex;
  align-items: center;

  padding: 0rem 1.5rem;
  border-radius: 0.25rem;

  color: var(--fg-color);

  text-decoration: none;

  transition: background-color var(--transition);
}

header a:hover {
  background-color: var(--highlight-primary);
}

.toggle-phone-nav {
  display: none;
}

.phone-nav {
  display: none;
}

/* ------------- SLIDER COMPONENT BEGIN ------------- */

/* .slider-container {
  margin-top: 100px;
} */

.arrow-container {
  position: absolute;
  width: 99vw;
  
  top: calc(50vh - 100px);
  z-index: 100;
  
  color:var(--fg-color);
  font-size: 100px;

  display: flex;
  justify-content: space-between;
}

.arrow {
  cursor: pointer;
}

.left-arrow {
  margin-left: 30px;
}

.right-arrow {
  margin-right: 30px;
  transform: rotate(180deg);
}

.slider-container img {
  position: relative;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.img-and-dot-container img {
  filter: brightness(0.2);
}

.dots-container {
  width: 100vw;

  z-index: 100;
  
  position: absolute;
  top: calc(100vh - 60px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 0 5px;
  /* background-color: var(--fg-color); */
  background-color: red;
  cursor: pointer;
}

.current-slide {
  height: 30px;
  width: 30px;
}

/* ------------- SLIDER COMPONENT END ------------- */

footer {
  box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 80%);
  border-top: 1px solid var(--highlight-primary);
  justify-content: space-around;
}

.footer-links-nav {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.copyright p {
  text-align: center;
}

.footer-links-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {

  .toggle-phone-nav {
    position: fixed;
    bottom: 70px;
    right: 15px;
    display: block;
    height: 50px;
    width: 50px;
    background-color: var(--secondary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .desktop-nav {
    display: none;
  }

  .phone-nav {
    display: flex;
    position: fixed;
    bottom: 60px;
    height: 40%;
    left: 0%;
    background-color: var(--bg-color);
    transition: bottom 0.5s ease-in-out;
  }

  .phone-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .hidden-phone-nav {
    bottom: -50%;
  }

  footer {
    height: 60px;
  }

  footer .logo-footer {
    display: none;
  }

  footer .footer-links-nav {
    width: 100%;
  }
}


header {
  display: none;
}