@import '@onrewind/ui/lib/onrewind-ui.css';

@tailwind base;
@tailwind components;

@tailwind utilities;

html {
  overflow-x: hidden;
}

:root {
  --secondary: #0062bf;
  --fg-color: white;
  --bg-color: #2b2b2b;
  --highlight-primary: #008aff;
  --gradient: linear-gradient(300deg, #ba4aff, rgba(186, 74, 255, 0) 70%);
  --transition: 250ms ease-out;
  --transition-long: 500ms ease-out;
  --title-size: 50px;
  --title-size-phone: 30px;
}

.logo {
  display: grid;
  place-content: center;
}

header,
footer {
  height: 100px;

  background: var(--bg-color);
  color: var(--fg-color);

  z-index: 1;
  display: flex;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  font-size: 1.5rem;

  align-items: center;
  justify-content: space-around;

  box-shadow: -2px 2px 8px 0px rgb(0 0 0 / 80%);

  border-bottom: 1px solid var(--highlight-primary);
  transition: top 0.3s ease-in-out;
  z-index: 9999999;
}

.hidden-nav-bar {
  top: -100px;
}

header ul {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-template-rows: 1fr;
  gap: 0.5rem;
  padding: 0rem 1.5rem;
  list-style-type: none;
}

header ul > li {
  display: grid;
  padding: 0.5rem;
}

header a {
  display: flex;
  align-items: center;

  padding: 0rem 1.5rem;
  border-radius: 0.25rem;

  color: var(--fg-color);

  text-decoration: none;

  transition: background-color var(--transition);
}

header a:hover {
  background-color: var(--highlight-primary);
}

.toggle-phone-nav {
  display: none;
}

.phone-nav {
  display: none;
}

/* ------------- SLIDER COMPONENT BEGIN ------------- */

.slider-container {
  height: 100vh;
}

.arrow-container {
  position: absolute;
  width: 99vw;

  top: calc(50vh - 100px);
  z-index: 100;

  font-size: 100px;

  display: flex;
  justify-content: space-between;
}

.arrow {
  cursor: pointer;
}

#left-arrow {
  margin-left: 30px;
  width: 100px;
  height: 100px;
}

#right-arrow {
  margin-right: 30px;
  transform: rotate(180deg);
  width: 100px;
  height: 100px;
}

.title-video {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  color: var(--fg-color);
  font-size: 60px;
}

.slider-container img {
  position: relative;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.img-and-dot-container {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.visible {
  opacity: 1;
}

.img-and-dot-container img {
  position: absolute;
  filter: brightness(0.2);
}

.dots-container {
  width: 100vw;

  z-index: 100;

  position: absolute;
  top: calc(100vh - 60px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 0 5px;
  /* background-color: var(--fg-color); */
  background-color: red;
  cursor: pointer;
}

.current-slide {
  height: 30px;
  width: 30px;
}

/* ------------- SLIDER COMPONENT END ------------- */

/* ################################################ */

/* ------------- CAROUSEL COMPONENT BEGIN --------- */

.carousel-container {
  background-color: #2b2b2b;

  position: relative;

  height: 50vh;
  width: 100%;

  display: flex;
  align-items: center;
}

.carousel-arrow {
  position: absolute;
  cursor: pointer;
  z-index: 101;
}

.hidden-arrow {
  display: none;
}

#carousel-left-arrow {
  width: 50px;
  height: 50px;
}

#carousel-right-arrow {
  width: 50px;
  height: 50px;
  transform: rotate(180deg);
  right: 0;
}

.carousel-items-container {
  position: relative;
  margin: 0px 2.5%;
  width: 95%;
  height: 60%;
  display: flex;
  align-items: center;
}

.carousel-item {
  position: absolute;

  width: 100%;

  display: flex;

  left: 0;

  filter: brightness(1);

  transition: left 0.5s ease-in-out, filter 0.8s ease-in-out;
  z-index: 2;
}

.right {
  left: calc(3 * 30vw + 3 * 10px);
  filter: brightness(0.3);
  z-index: 1;
}

.left {
  left: -100vw;
  filter: brightness(0.3);
}

.far {
  left: 3000px;
}

.img-and-infos-container {
  position: relative;
  min-height: 30vh;
  max-height: 30vh;
  min-width: 30vw;
  max-width: 30vw;
  filter: brightness(1);
  transition: transform 0.3s;
  margin-right: 10px;
}

.img-and-infos-container:hover {
  transform: scale(1.15);
  z-index: 5;
}

.img-and-infos-container:hover p {
  z-index: 4;
}

.img-and-infos-container:hover img {
  filter: brightness(0.3);
  z-index: 3;
}

.name-img-carousel {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 30px;
  color: var(--fg-color);
}

.link-img-carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--fg-color);
  text-transform: uppercase;

  padding: 20px;
  background-color: var(--highlight-primary);

  border: 3px solid var(--bg-color);
  border-radius: 10px;

  cursor: pointer;
}

.img-and-infos-container img {
  position: absolute;
  min-height: 30vh;
  max-height: 30vh;
  min-width: 30vw;
  max-width: 30vw;
  top: 0;
  object-fit: cover;
  transition: filter 0.3s;
  z-index: 99;
}

/* ------------- CAROUSEL COMPONENT END --------- */

/* ############################################## */

/* ------------- AD COMPONENT START ------------- */

.ad-container {
  cursor: pointer;
}

/* ------------- AD COMPONENT END --------------- */

/* ############################################## */

/* --------- VIDEO DETAIL PAGE START ------------ */

.video-detail-container {
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
}

.back-home-btn {
  display: inline-block;
  margin: 30px 0px 0px 30px;
  color: var(--fg-color);
  font-size: 30px;
  padding: 20px;
  border: 1px solid var(--fg-color);
  background-color: var(--bg-color);
  cursor: pointer;
  border-radius: 5px;
}

.img-and-ctrls-container {
  margin: 5vh auto 0px auto;
  position: relative;
  width: 60%;
  height: 60vh;
  background-color: var(--bg-color);
}

.img-and-ctrls-container img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bar-duration-bg,
.play-btn-bg {
  z-index: 5;
  position: absolute;
  margin: 0;
  bottom: 0;
  height: 30px;
  background-color: var(--bg-color);
  border: 1px solid black;
}

.bar-duration-bg {
  width: 95%;
  right: 0;
}

.play-btn-bg {
  width: 5%;
  left: 0;
  cursor: pointer;
}

.play-btn {
  z-index: 6;
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  width: 5%;
  height: 30px;
  background-color: var(--fg-color);
  clip-path: polygon(75% 50%, 25% 25%, 25% 75%);
  cursor: pointer;
}

.title-video-detail {
  color: var(--fg-color);
  font-size: var(--title-size);
  text-align: center;
}

.informations-video-detail {
  width: 70%;
  margin: auto;
  color: var(--fg-color);
}

.categories-video-detail,
.tags-video-detail {
  margin: 10px 0px;
}

.category-video-detail,
.tag-video-detail {
  margin: 5px 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.category-video-detail {
  display: inline-block;
  background-color: var(--fg-color);
  color: var(--bg-color);
}

.tag-video-detail {
  display: inline-block;
  background-color: var(--bg-color);
  text-transform: lowercase;
}

.description-video-detail {
  width: 100%;
  margin: 30px auto 30px auto;
  text-align: justify;
  color: var(--fg-color);
}

.bar-duration {
  z-index: 6;
  position: absolute;
  width: 90%;
  height: 5px;
  background-color: var(--fg-color);
  right: calc((95% - 90%) / 2);
  bottom: calc((30px - 5px) / 2);
  cursor: pointer;
}

.dot-duration {
  z-index: 7;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  bottom: calc((30px - 15px) / 2);
  left: calc((5% + ((95% - 90%) / 2)) - (15px / 2) );
}

/* ----------- VIDEO DETAIL PAGE END ------------ */

/* ############################################## */

footer {
  box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 80%);
  border-top: 1px solid var(--highlight-primary);
  justify-content: space-around;
}

.footer-links-nav {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.copyright p {
  text-align: center;
}

.footer-links-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  header {
    top: -150px;
  }

  .toggle-phone-nav {
    position: fixed;
    bottom: 70px;
    right: 15px;
    display: block;
    height: 50px;
    width: 50px;
    background-color: var(--bg-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .desktop-nav {
    display: none;
  }

  .phone-nav {
    display: flex;
    position: fixed;
    bottom: 60px;
    height: 68vh;
    left: 0%;
    background-color: var(--bg-color);
    transition: bottom 0.5s ease-in-out;
    border: 2px solid var(--highlight-primary);
    border-bottom: 0;
    box-shadow: 2px 1px 8px 0px black;
  }

  .phone-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .hidden-phone-nav {
    bottom: -68vh;
  }

  /* ------------- SLIDER COMPONENT BEGIN ------------- */

  .slider-container {
    height: 25vh;
  }

  .slider-container img {
    height: 25vh;
  }

  .arrow-container {
    top: calc(12.5vh - 25px);
  }

  #left-arrow {
    margin-left: 10px;
    width: 50px;
    height: 50px;
  }

  #right-arrow {
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }

  .title-video {
    top: 13%;
    font-size: 20px;
  }

  .dots-container {
    top: calc(25vh - 30px);
  }

  .dot {
    height: 10px;
    width: 10px;
    margin: 0 7px;
  }

  .current-slide {
    height: 20px;
    width: 20px;
  }

  /* ------------- SLIDER COMPONENT END ------------- */

  /* ################################################ */

  /* ------------- CAROUSEL COMPONENT START --------- */

  .carousel-items-container {
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .img-and-infos-container {
    min-width: 100%;
    max-width: 100%;
  }

  .img-and-infos-container img {
    min-width: 100%;
    max-width: 100%;
  }

  .img-and-infos-container img {
    z-index: 1;
    filter: brightness(0.3);
  }

  .name-img-carousel {
    z-index: 5;
    width: 50%;
    text-align: center;
    top: 25%;
  }

  .link-img-carousel {
    z-index: 5;
    top: 75%;
  }

  .carousel-container {
    height: 30vh;
  }

  .right {
    left: 100%;
  }

  /* ---------- CAROUSEL COMPONENT START ------------ */

  /* ################################################ */


  .ad-container {
    height: 45vh;
  }

  .img-ad {
    max-width: initial;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* ---------- VIDEO DETAIL PAGE START ------------- */

  .img-and-ctrls-container {
    margin: 5vh auto 0px auto;
    width: 85%;
    height: 30vh;
  }

  .back-home-btn {
    display: block;
    width: 50%;
    text-align: center;
    margin: 5vh auto 0px auto;
    font-size: 20px;
    padding: 10px;
  }

  .bar-duration-bg {
    width: 85%;
  }

  .play-btn-bg {
    width: 15%;
  }

  .play-btn {
    width: 15%;
  }

  .title-video-detail {
    color: var(--fg-color);
    font-size: var(--title-size-phone);
    text-align: center;
    margin: 10px auto 10px auto;
  }

  .description-video-detail {
    margin: 10px auto 10px auto;
    text-align: center;
  }

  .bar-duration {
    width: 80%;
    height: 5px;
    background-color: var(--fg-color);
    right: calc((85% - 80%) / 2);
    bottom: calc((30px - 5px) / 2);
  }
  
  .dot-duration {
    left: calc((15% + ((88% - 80%) / 2)) - (15px / 2) );
  }

  .informations-video-detail {
    width: 90%;
    margin-bottom: 8vh;
  }

  /* --------- VIDEO DETAIL PAGE END ------------- */

  footer {
    height: 60px;
  }

  footer .logo-footer {
    display: none;
  }

  footer .footer-links-nav {
    width: 100%;
  }
}
